body {
    font-family: Open Sans,Arial,sans-serif;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    line-height: 1.7em;
    font-weight: 500;
    margin: 0;
}

a {
    color: #26a0f2;
    text-decoration: none;
}

#pagecontainer {
    width: 100%;
}

#header {
    background-color: #95b0ad;
    text-align: center;
    position: sticky;
    top: 0px;
    bottom: auto;
    left: 0px;
    right: 0px;
    margin: 0;
    padding: 0;
}

#header img {
    width: 15%;
    max-width: 40%;
}


#top {
    background-image: linear-gradient(90deg,#242d39 70%,rgba(91,82,80,0.99) 70%);
    height: 100%;
    float:left;
    width:100%;
}

#top-wrapper {
    width:90%;
    height:auto;
    /* float:left; */
    margin:100px auto 0 auto;  
}

.two-columns-left {
    float:left;
    width:50%;
}

.two-columns-right {
    float:left;
    width:49%;
    padding:200px 0;
}

.headline {
    text-align: center;
    padding: 0 15%;
}

.headline h1 {
    font-family: 'Fira Sans',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    font-size: 72px;
    color: white;
    line-height: 1.3em;
    text-shadow: 0em 0.1em 0.1em rgb(0 0 0 / 40%);
}

.block-txt {
    width: 35%;
    margin: auto;
}

.block-txt p {
    font-family: 'Fira Sans',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 1em;
    text-shadow: 0em 0.1em 0.1em rgb(0 0 0 / 40%);
    color: white;
}

.image-block {
    text-align: right;
}

.image-block img {
    width: 90%;
    height: auto;
    border-radius: 55px;
}

#component-wrapper-01 {
    float: left;
    width: 100%;
}

.parallax {
    position:relative;
    z-index:1;
    height:450px;
    -webkit-box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
  box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
  }
  
  #trans1 {
    background: url('../images/trafikant-banner.jpg') no-repeat fixed;
    height:300px;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .testimonial-card {
      background-color: #F5F5F5;
      width: 500px;
      float: left;
      margin: 30px 0 30px 50%;
      padding: 15px 0 15px 0;
  }

  .testimonial-card::before{
    content: "\201D";
    font-size: 72px;
    line-height: 0em;
    
   
    background: #f5f5f5;
    margin-left: 0px;
    border-radius: 31px;
    z-index: 2;
    
    border: 1px red solid;
  }

  .testimonial-content-image img {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border:rgba(30, 30, 30, 0.30) solid 2px;
      margin-right: 15px;
  }

  .testimonial-wrapper {
      padding: 10px 40px;
      float: left;
  }

  .testimonial-content-image {
    float:left;
  }

  .testimonial-txt {
      float: left;
      width: 65%;
  }

  .testimonial-txt p {
      margin:0;
  }